<router-outlet></router-outlet>

<!-- <div *ngIf="showTestLearningCode"> <!- - TODO: review hidden learn functionalities - ->
  <h1>Login, token and file management</h1> <!- - Components - ->
  <div>
    <p>
      <input type="file" (change)="onUpload($event)">
      <img *ngIf="imgRta" [src]="imgRta" width="150px">
    </p>
    <button (click)="downloadFile()">Download pdf</button>
    <button (click)="createUser()">Crear usuario</button>
    <button (click)="login()">Login</button>
    <button (click)="getProfile()">get profile</button>
  </div>
  <hr>
  <h1>Components</h1> <!- - Components - ->
  <input type="text" [(ngModel)]="imgParent">
  <button (click)="toggleImage()" >Toggle image</button>
  <app-img [img]="imgParent" (loaded)="onImgLoaded($event)" *ngIf="showChildImage"></app-img>
  <hr>
  <h1>Forms</h1> <!- - Forms - ->
  <form (ngSubmit)="onRegister()" #myform="ngForm" class="form-container">
    <h3>Account Registration</h3>
    <div class="input-group">
      <label for="name">Name</label>
      <input type="text" placeholder="Your Full Name" required #nameInput5="ngModel" id="name" name="name"
        [(ngModel)]="register.name">
      <p [ngClass]="{
      'invalid': nameInput5.invalid && (nameInput5.dirty || nameInput5.touched)
    }">This field is required</p>
    </div>
    <div class="input-group">
      <label for="name">Email</label>
      <input type="email" placeholder="name@mail.com" required #emailInput="ngModel" id="email" name="email"
        [(ngModel)]="register.email">
      <p [ngClass]="{
      'invalid': emailInput.invalid && (emailInput.dirty || emailInput.touched)
    }">This field is required</p>
    </div>
    <div class="input-group">
      <label for="name">Password</label>
      <input type="password" placeholder="********" required #passwordInput="ngModel" id="password" name="password"
        [(ngModel)]="register.password">
      <p [ngClass]="{
      'invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)
    }">This field is required</p>
    </div>
    <button type="submit" [disabled]="myform.invalid">Sign Up</button>
    <a href="#">Already registered? Sign in with your account here</a>
  </form>
  <hr>
  <h1>*ngClass & *ngStyle</h1> <!- - ngClass and ngStyle - ->
  <input type="text" required #nameInput4="ngModel" [(ngModel)]="name" />
  <hr class="line-error" [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }" />
  <p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>
  <div class="image-grid">
    <div>
      <input type="text" [(ngModel)]="box.width" />
      <input type="text" [(ngModel)]="box.height" />
      <input type="color" [(ngModel)]="box.background" />
    </div>
    <div>
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background': box.background,
        'display': 'block'
      }">
      </div>
    </div>
  </div>
  <hr />
  <h1>Class & Style</h1> <!- - Class and Style - ->
  <input type="text" required #nameInput2="ngModel" [(ngModel)]="name" />
  <p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
  <label>Name</label>
  <input type="text" required #nameInput3="ngModel" [(ngModel)]="name" />
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">texto texto texto</p>
  <div class="image-grid">
    <div>
      <input type="text" [(ngModel)]="imgWidth" />
    </div>
    <div>
      <img [style.width.px]="imgWidth" src={{person.imgUrl}} />
    </div>
  </div>
  <hr>
  <h1>*ngSwitch</h1> <!- - NG switch - ->
  <input type="text" [(ngModel)]="name">
  <div [ngSwitch]="name">
    <p *ngSwitchCase="'Carlos'">
      El nombre es CarlosJose
    </p>
    <p *ngSwitchDefault>
      El nombre no es Carlos (Carlosn't)
    </p>
  </div>
  <hr>
  <h1>*ngFor Objects</h1> <!- - NG for Objects - ->
  <div class="products-grid">
    <div *ngFor="let item of products">
      <img src={{item.image}}>
      <h2>{{ item.price }}</h2>
      <p>{{ item.name }}</p>
      <hr>
    </div>
  </div>
  <hr>
  <h1>*ngFor</h1> <!- - NG for - ->
  <input type="text" required [(ngModel)]="newName">
  <button (click)="addName()">Add name</button>
  <ul>
    <li *ngIf="names.length === 0">No hay nombres</li>
    <li *ngFor="let name of names; index as idx">
      {{idx+ ' ' + name }}
      <button (click)="deleteName(idx)">Delete name</button>
    </li>
  </ul>
  <hr>
  <h1>*ngIf</h1> <!- - NG if - ->
  <input type="text" [(ngModel)]="name">
  <p *ngIf="name === 'Carlos' && age > 18; else elseBlock">Soy Carlos</p>
  <ng-template #elseBlock>
    <p>Else block</p>
  </ng-template>
  <hr>
  <h1>ngModel</h1> <!- - NG model - ->
  <input type="text" required #nameInput="ngModel" [(ngModel)]="name">
  <p>Valid: {{ nameInput.valid }}</p>
  <input type="number" min="18" max="30" required #ageInput="ngModel" [(ngModel)]="age">
  <p>Valid: {{ ageInput.valid }}</p>
  <hr>
  <h1>Events</h1> <!- - Events - ->
  <button [disabled]="buttonDisabled">Button</button>
  <button (click)="toggleButton()">Toggle button</button>
  <div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio molestias, odit ullam eum voluptatem iure
      quibusdam
      harum temporibus. Consectetur sint veniam error earum esse ea ex unde voluptas non ratione. Lorem ipsum, dolor sit
      amet consectetur adipisicing elit. Rerum, ea qui! Porro pariatur nulla molestiae, iusto veritatis aspernatur,
      reprehenderit magnam impedit sed voluptatum aliquam quaerat, cumque cupiditate aperiam dignissimos omnis!</p>
  </div>
  <input [value]="name" (keyup)="changeName($event)">
  <hr>
  <h1>Properties</h1>
  <input [value]="name"> <!- - Property binding - ->
  <hr>
  <h1>Hola mundo</h1>
  <h2>{{'Hola mundo '.repeat(5)}}</h2>
  <p>Hola soy {{ name }}</p> <!- - String interpolation - ->
  <img src={{imgUrl}} alt="Image" width="300" height="300">
</div> -->
